*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans';
    font-weight: bold;
}

:root{
    --thin-borders: 1px solid black;
}

html{
    
}

body{
    /* background-color: #1c70b4; */

}

.app{
    width: 100%;
}


.score-board{
    display: flex;
    gap: 10px;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
}

.score-board > .scores{
    height: 80px;
    border: var(--thin-borders);
    border-radius: 10px;
}

.draw{
    width: 100px;
}

.player-score{
    display: flex;
    width: 300px;
}

.profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    width: 70%;
    height: 100%;
    border-top: none;
    border-bottom: none;
    border: var(--thin-borders);
}

.avatar{
    width: 50px;
    height: 50px;
    border: var(--thin-borders);
    border-radius: 50%;
    /* margin-left: 10px; */
}

p{
    position: relative;
    font-size: 23px;
    /* margin-left: 10px; */

}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* border: var(--thin-borders); */
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 150px;
    width: 100%;
    margin-top: 120px;
    border-radius: 20px;
    /* padding: 80px 60px; */
    /* background-color: #4682B4; */
}

.cells-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 230px;
    gap: 10px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    /* background-color: white; */
    /* background-color: #b8d0db; */
    border: var(--thin-borders);
    border-radius: 5px;
}

/* x - animation */
.x-symbol path {
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: draw-x 0.3s ease-out forwards;
}

.x-symbol path.line2 {
    animation-delay: 0.15s;
}

@keyframes draw-x {
    to {
        stroke-dashoffset: 0;
    }
}

/* o - animation */
.o-symbol circle {
    stroke-dasharray: 213.6;
    stroke-dashoffset: 213.6;
    animation: draw-o 0.3s ease-out forwards;
}

@keyframes draw-o {
    to {
        stroke-dashoffset: 0;
    }
}

dialog{
    padding: 50px 70px;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

button{
    margin-top: 20px;
    padding: 18px 10px;
    background-color: #1c70b4;
    color: white;
    border: none;
    border-radius: 5px;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

button:active{
    outline: 2px solid #1c70b4;
    outline-offset: 2px;
}